* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.principal {
  margin: 3rem;
  padding: 2rem;
  width: 80%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  background-color: hwb(0 89% 11%);
}

.tareas {
  padding: 1rem;
}
input {
  width: 70%;
  height: 2rem;
  margin: 0.5rem;
  padding-left: 0.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.buttonAgregar {
  width: 6rem;
  height: 2rem;
  background-color: rgb(29, 154, 29);
  border: none;
  border-radius: 10px;
  color: aliceblue;
  cursor: pointer;
}
.resumen {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

h5 {
  padding: 5px;
}

h4 {
  color: rgb(93, 92, 92);
}

td {
  padding-left: 1rem;
  font-size: 15px;
}

.buttonEliminar {
  width: 25px;
  height: 20px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: progress;
}

span {
  color: rgb(77, 80, 78);
}
